In [1]:
# github.com/echtr

In [2]:
import pandas as pd
import numpy as np

In [57]:
df = pd.read_csv("movies.csv")

In [94]:
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"[Action, Horror, Thriller]",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"[Animation, Action, Adventure]",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"[Drama, Horror, Thriller]",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"[Animation, Adventure, Comedy]",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"[Action, Crime, Horror]",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"[Adventure, Drama, Fantasy]",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"[Animation, Action, Adventure]",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"[Documentary, Sport]",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"[Adventure, Drama, Fantasy]",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"[Adventure, Drama, Fantasy]",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [95]:
df.isna().sum()

MOVIES         0
YEAR         603
GENRE          0
RATING      1751
ONE-LINE       0
STARS          0
VOTES       1751
RunTime     2887
Gross       9459
dtype: int64

In [60]:
df["GENRE"] = df["GENRE"].str[1:]
df["GENRE"]

0           Action, Horror, Thriller
1       Animation, Action, Adventure
2            Drama, Horror, Thriller
3       Animation, Adventure, Comedy
4              Action, Crime, Horror
                          ...
9994       Adventure, Drama, Fantasy
9995    Animation, Action, Adventure
9996              Documentary, Sport
9997       Adventure, Drama, Fantasy
9998       Adventure, Drama, Fantasy
Name: GENRE, Length: 9999, dtype: object

In [61]:
#df["GENRE"] = df["GENRE"].str.split("")
#df["GENRE"]

In [62]:
df.head(1)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN

In [63]:
df["GENRE"] = df["GENRE"].str.replace(" ","")

In [64]:
df["GENRE"] = df["GENRE"].str.split(",")

In [98]:
df.head(1)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"[Action, Horror, Thriller]",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN

In [79]:
#df[df['GENRE'].apply(lambda x: 'Action' in x)]

In [96]:
df["GENRE"].dtype

dtype('O')

In [97]:
df = df.dropna(subset = ["GENRE"])

In [100]:
df

MOVIES         0
YEAR         603
GENRE          0
RATING      1751
ONE-LINE       0
STARS          0
VOTES       1751
RunTime     2887
Gross       9459
dtype: int64

In [102]:
df[df['GENRE'].apply(lambda x: 'Fantasy' in x)]

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
11,Lucifer,(2016–2021),"[Crime, Drama, Fantasy]",8.1,\nLucifer Morningstar has decided he's had eno...,"\n \n Stars:\nTom Ellis, \nLesle...","264,222",42.0,NaN
19,Stranger Things,(2016– ),"[Drama, Fantasy, Horror]",8.7,"\nWhen a young boy disappears, his mother, a p...",\n \n Stars:\nMillie Bobby Brown...,"885,856",51.0,NaN
28,Supernatural,(2005–2020),"[Drama, Fantasy, Horror]",8.4,\nTwo brothers follow their father's footsteps...,"\n \n Stars:\nJared Padalecki, \...","404,273",44.0,NaN
37,The Witcher,(2019– ),"[Action, Adventure, Fantasy]",8.2,"\nGeralt of Rivia, a solitary monster hunter, ...","\n \n Stars:\nHenry Cavill, \nAn...","336,484",60.0,NaN
43,Outlander,(2014– ),"[Drama, Fantasy, Romance]",8.4,\nAn English combat nurse from 1945 is mysteri...,"\n \n Stars:\nCaitriona Balfe, \...","134,991",64.0,NaN
...,...,...,...,...,...,...,...,...,...
9922,Girl From Nowhere,(2018– ),"[Crime, Drama, Fantasy]",8.1,\nNanno and Yuri's rivalry comes to a head ove...,\n Director:\nKomgrit Triwimol\n| \n Sta...,112,NaN,NaN
9935,The Imperfects,(2021– ),"[Adventure, Drama, Fantasy]",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9994,The Imperfects,(2021– ),"[Adventure, Drama, Fantasy]",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"[Adventure, Drama, Fantasy]",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"[Adventure, Drama, Fantasy]",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN